<h1>Type in a number and see how it most easily breaks down into coins</h1>

<form action="/result">
  <div class="form-group">
    <label for="coin_total">Coin amount: $</label>
    <input id="coin_total" name="coin_total" class="form_control" type="number" min="0.01" max="0.99" step="0.01">
  </div>
  <button type="submit" class="btn">Go</button>
</form>
